.navbar {
  width: 100%;
  background: #0b0f1a;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &__logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    img {
      width: 38px;
      height: 38px;
    }

    span {
      color: #D7F5FF;
      font-size: 1.2rem;
      font-weight: 700;
    }
  }

  &__links {
    display: flex;
    gap: 2rem;
    list-style: none;

    li {
      color: #D7F5FF;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: #3b82f6; // hover blue
      }

      &.active {
        color:#5F82FF;
 // active link
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__btn {
    button {
      background:#5F82FF;

;
      color: #F5FCFF;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 8px;
      font-weight: 500;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: #2563eb;
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__toggle {
    display: none;
    color: #fff;
    cursor: pointer;

    @media (max-width: 768px) {
      display: block;
    }
  }

  &__mobile {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #0b0f1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      li {
        color: #fff;
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
          color: #3b82f6;
        }

        &.active {
          color: #3b82f6;
        }
      }
    }

    button {
      background: #3b82f6;
      color: #fff;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 8px;
      font-weight: 500;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: #2563eb;
      }
    }
  }
  @media (max-width: 768px) {
     &__mobile {
    align-items: flex-start;
    padding-left: 42px;
     }
  }
}
